footer{
	// background-image: url("..images/mac-monitor");
    padding: $mobile-padding;
    
}

footer li{
    list-style: none;
    line-height: 40px;
    font-weight: 600px;
}

.address-info{
    text-align: right;
   
}

.address-info p{
    line-height: 20px;
   
}

