.heading{
    text-align: center;
}

.lesson-content{
    text-align: center;
}

.side-nav{
    display: none;
}

.all-lessons{
    padding: 20px;
}

.all-lessons div{
    margin-bottom: 20px;
}

@media only screen and (min-width:550px){
    .banner{
        display: block;
    }
}