$body_color: white;
$font_color: black;
$mobile-top-nav-color: rgb(0, 62, 105);
$darkestcolor: #0B0C10;
$darkgrey: #1F2833;
$background-overview1: rgb(2,0,36);
$background-overview2: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,9,121,1) 52%, rgba(0,212,255,1) 100%);
$worb-border-radius: 50% 20% / 10% 40%;
$mobile-padding: 20px;
